/** HTML **/
html {
    width: 100%;
    height: 100%;
}
/** Body **/
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
/** Header **/
#header {
    height: 30%;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to bottom,#B6AD7A 0,#C5BD95 100%);
}
/** Content **/
#content {
    height: 50%;
    width: 100%;
<<<<<<< HEAD
    overflow: hidden;
    background-color: #fff;
}
#content > img {
    margin-top: -25px;   
}
=======
    background-color: #fff;
}
>>>>>>> origin/master
/** Footer **/
#footer {
    height: 20%;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to bottom,#C5BD95 0,#B6AD7A 100%);   
}